:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-color: #2196f3;
  --title-color: #212121;
  --font-description: #757575;
  --body-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --button-accent-color: #188ce8;
  --button-section-background-color: #f5f4fa;
  --box-shadow-card-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-radius-card-team: 0px 0px 4px 4px;
  --header-border: #ececec;
  --icon-color: #afb1b8;
}
